:root {
  --theme-white: rgb(245, 245, 245);
  --taskListInputColor: #ed333b;
  --black-text-semitransparent: rgba(0, 0, 0, 0.75);
}

body {
  font-family: "Roboto", sans-serif;
}

.theme-bg-white {
  background: var(--theme-white);
}

.font-black-transparent {
  color: rgba(0, 0, 0, 0.3);
}

.title-text {
  font-size: 5rem;
  font-family: "Concert One", cursive;
  font-weight: 100;
  opacity: 0.9;
}

.title-text-t {
  color: #ed333b;
}

.title-text-a {
  color: #62a0ea;
}

.title-text-s {
  color: #57e389;
}

.title-text-k {
  color: #9141ac;
}

.title-text-m {
  color: #ed333b;
}

.title-text-t2 {
  color: #f8e45c;
}

.title-text-e {
  color: #62a0ea;
}

.title-text-r {
  color: #9141ac;
}

.task-list-name-input {
  border: 0;
  background-color: transparent;
  color: var(--taskListInputColor);
  font-size: 1.3rem;
  border-bottom: 0.1rem solid transparent;
  transition: border-bottom 0.2s ease-in-out;
}

.task-list-name-input:focus {
  border: 0;
  border-bottom: 0.1rem solid var(--taskListInputColor);
  outline: 0;
}

.task-list-submit-button {
  font-size: 1.3rem;
  color: var(--taskListInputColor);
  opacity: 0.6;
}

.task-list-submit-button:hover {
  color: var(--taskListInputColor);
  border: 0.1rem solid var(--taskListInputColor);
  cursor: pointer;
}

.task-list-submit-button:focus {
  color: var(--taskListInputColor);
  border: 0.1rem solid var(--taskListInputColor);
}

.task-list-submit-button:active {
  filter: brightness(70%);
}

.color-selector {
  border-radius: 100%;
  overflow: hidden;
  width: 2.5rem;
  height: 2.5rem;
}

.task-list-color-input {
  border: 0;
  outline: 0;
  height: 100%;
  width: 100%;
  transform: scale(1.3);
}

.task-list {
  min-height: 50vh;
}

.top-delete-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.colored-area:hover .top-delete-button {
  opacity: 1;
}

.task-delete-button {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.task:hover .task-delete-button {
  opacity: 1;
}

.task-name-input {
  border: 0;
  background-color: transparent;
  color: var(--task-color);
  font-size: 1rem;
  border-bottom: 0.1rem solid transparent;
  transition: border-bottom 0.2s ease-in-out;
}

.task-name-input:focus {
  border: 0;
  border-bottom: 0.1rem solid var(--task-color);
  outline: 0;
}

.icon-submit-container {
  border: 0;
  background: transparent;
  padding: 0;
}

.task-submit {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.task-name-input:focus + .icon-submit-container .task-submit {
  opacity: 1;
}

ul {
  padding: 0;
  margin: 0;
}
